.main {
  flex: 1 0 auto;
  overflow: hidden;
  transition: $trans--300;

  h1 {
    @include font-exo(36, 42);
    text-align: center;
    margin: 0;
    color: $white;
    padding-bottom: 25px;
  }
}
