.page {
  // height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url("../img/bcg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}
