.products__list {
  display: grid;
  @include reset-list;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
}

.products__item {
  width: 320px;
  min-height: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &--selected {

    .products__amount {
      background-color: $pink;
    }

    &::after {
      background-color: $pink;
    }

    .products__example {
      border-color: $pink;

      &::before {
        background-color: $pink;
      }
    }
  }

  &:hover,
  &:focus-visible {

    .products__amount {
      background-color: $hover-blue;
    }

    &::after {
      background-color: $hover-blue;
    }

    .products__example {
      border-color: $hover-blue;

      &::before {
        background-color: $hover-blue;
      }
    }
  }
}

.products__item--selected {

  &:hover,
  &:focus-visible {

    .products__amount {
      background-color: $hover-pink;
    }

    &::after {
      background-color: $hover-pink;
    }

    .products__example {
      border-color: $hover-pink;

      &::before {
        background-color: $hover-pink;
      }
    }
  }
}

.products__example {
  padding: 17px 59px 0 48px;
  transition: $trans--300;
  border: 4px solid $blue;
  border-radius: 0 12px 12px 12px;
  background-color: $white;
  min-height: 480px;
  width: 100%;
  clip-path: polygon(14% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 9%);
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &::before {
    transition: $trans--300;
    position: absolute;
    content: "";
    width: 105px;
    height: 4px;
    background-color: $blue;
    transform: rotate(135deg);
    left: -33px;
    z-index: 5;
  }

  &::after {
    position: absolute;
    content: url("../img/card-cat.png");
    left: -28px;
    bottom: -96px;
  }
}

.products__item--disabled {

  .products__disabled {
    background-color: rgba($white, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
  }

  .products__item-descr {
    color: $yellow;
  }

  .products__example {
    border-color: $gray;
    cursor: not-allowed;

    &::before {
      background-color: $gray;
    }
  }

  .products__amount {
    background-color: $gray;
  }

  &:hover,
  &:focus-visible {

    .products__amount {
      background-color: $gray;
    }

    &::after {
      background-color: $gray;
    }

    .products__example {
      border-color: $gray;

      &::before {
        background-color: $gray;
      }
    }
  }
}

.products__item-descr {
  @include font-trebuchet(13, 15, 400);
  margin: 0;
  padding-top: 14px;
  color: $white;
  transition: $trans--300;

  span {
    color: $blue;
  }

  a {
    font-weight: 700;
    color: $blue;
    cursor: pointer;
    transition: $trans--300;
    border-bottom: dashed 1px $blue;
  }
}

.products__slogan,
.products__name,
.products__type,
.products__quantity {
  margin: 0;
}

.products__slogan,
.products__quantity {
  color: $dark-gray;
}

.products__slogan {
  padding-bottom: 5px;
  @include font-trebuchet(16, 19, 400);
}

.products__name,
.products__type {
  color: $black;
  @include font-trebuchet(48, 56, 700);
}

.products__type {
  @include resize-txt(24, 28);
  padding-bottom: 15px;
}

.products__quantity {
  @include font-trebuchet(14, 16, 400);
}

.products__amount {
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: $blue;
  border-radius: $radius50;
  transition: $trans--300;
  @include flex-center;
  position: absolute;
  z-index: 5;
  right: 12px;
  bottom: 12px;

  p {
    @include font-trebuchet(42, 22, 400);
    color: $white;
    margin: 0;
  }

  span {
    color: $white;
    @include resize-txt(19, 0);
  }
}
