// Color

$white: #ffffff;
$black: #000000;
$blue: #1698d9;
$pink: #d91667;
$gray: #b3b3b3;
$dark-gray: #666666;
$yellow: #ffff66;

$hover-blue: #2ea8e6;
$hover-pink: #e52e7a;

// Radius

$radius12: 12px;
$radius50: 50%;

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$exo: "Exo 2", "Arial", sans-serif;
$trebuchet: "Trebuchet MS", "Verdana", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
