@mixin font-trebuchet($size, $lh, $weight) {
  font-family: $trebuchet;
  font-size: $size + px;
  line-height: $lh + px;
  font-weight: $weight;
  font-style: normal;
}

@mixin font-exo($size, $lh) {
  font-family: $exo;
  font-size: $size + px;
  line-height: $lh + px;
  font-weight: 100;
  font-style: normal;
}

@mixin resize-txt($size, $lh) {
  font-size: $size + px;
  line-height: $lh + px;
}
